.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-decoration: none;
  transition:
    flex 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    height 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

  &--active {
    flex: 2;
  }
}

.title {
  font-size: 13px;
  color: white;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link--active .title {
  opacity: 1;
}

.icon {
  width: 24px;
  height: 24px;
  background-size: 24px;

  &--status {
    background-image: svg-load('icons/status.svg');
  }

  &--library {
    background-image: svg-load('icons/library.svg');
  }

  &--queue {
    background-image: svg-load('icons/queue.svg');
  }
}

.link--active .icon {
  width: 32px;
  height: 32px;
  background-size: 32px;
}

@media (min-width: 576px) {
  .link {
    flex: 0 1 auto;
    width: 100%;
    height: var(--navigator-size);

    &--active {
      height: calc(2 * var(--navigator-size));
    }
  }
}
