.input-label {
  display: none;
}

.text-box {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  max-width: 256px;
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 2px;
  background-color: #CFD8DC;
  border: none;
  outline: none;
}
