.container {
  display: flex;
  flex-direction: column;
}

.input {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  padding: 8px;

  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  border-radius: 2px;
  background-color: #CFD8DC;
  border: none;
  outline: none;
}

.button {
  padding-left: 0;
}
