.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 780px;
  padding: 16px;
  margin: 16px 8px 0 8px;
  color: white;
  background-color: #455A64;
  border-radius: 8px;
}

.card--transparent {
  background-color: transparent;
}

@media (min-width: 576px) {
  .card {
    margin: 16px 16px 0 16px;
  }
}
