.root {
  display: flex;
  align-items: center;
  height: 64px;
  margin: 0 -16px;
  padding: 0 16px;
  border-top: 2px #546E7A solid;
  transition: background-color 400ms var(--animation);
  cursor: pointer;

  &:first-child {
    border-top: none;
  }

  &:hover {
    background-color: #546E7A;
  }

  &:active {
    background-color: #607D8B;
    transition: background-color 0ms var(--animation);
  }
}

.info {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.artist {
  font-size: 12px;
  opacity: 0.75;
}
