.root {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--navigator-size);
  z-index: 100;
  transition: background-color 400ms var(--animation);
}

.color{
  &--status {
    background-color: #EC407A;
  }

  &--library {
    background-color: #1E88E5;
  }

  &--queue {
    background-color: #FFA000;
  }
}

@media (min-width: 576px) {
  .root {
    top: 0;
    left: 0;
    width: var(--navigator-size);
    height: 100%;
    flex-direction: column;
  }
}
