.root {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--navigator-size);
  background-color: var(--color-navigator);
}

.child {
  flex: 1;
}

@media (min-width: 576px) {
  .root {
    top: 0;
    left: 0;
    width: var(--navigator-size);
    height: 100%;
    flex-direction: column;
  }

  .child {
    flex: 0 1 auto;
    width: 100%;
    height: var(--navigator-size);
  }
}
