:root {
  --navigator-size: 72px;

  --color-background: #37474F;
  --color-navigator: #607D8B;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  background-color: var(--color-background);
}
